.header {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header >div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1, .header p{
    margin: 0;
    padding: 0;
}

.play_icon {
    width: 25px;
    height: 25px;
    width: 60px;
    height: 60px;
    font-size: 50px;
}

.play_icon:hover {
    transform: scale(1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-between;
   
    margin-top: 30px;
}

.details {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid rgba(255, 85, 89,.4);
    border-radius: 15px;
    height: 48vh;
    overflow: scroll;
}

.thead {
    position: relative;
    top: 0;
    color: var(--primary_color);
    display: grid;
    grid-template-columns: repeat(4, 7% 30% 30% 29%);
    gap: 1%;
}

.thead  div {
    font-weight: var(--bold_weight);
    text-align: left;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .cards {
        display: block;
    }
}