.columns {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;

}

.buttons_group {
    display: flex;
    justify-content: space-between;
}

.long_height {
    height: 213px;
    border: 1px solid red;
}