.page {
    height: 100vh;  
}

.main {
    display: flex;
}

.main > section {
    width: 82%;
    padding: 40px 50px;
    
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 4%;
}

.buttons_group {
    display: flex;
    justify-content: space-between;
}

.long_height {
    height: 213px;
    border: 1px solid red;
}