.title_and_create_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_and_create_button > div {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 85, 89, .1);
    width: 535px;
    background-color: var(--white);
    border-radius: var(--radius);
    height: 55px;
    padding: 0 15px;
}

.title_and_create_button > div > input {
    width: 100%;
}

.elections_group {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
    height: 70vh;
    overflow-y: scroll;
    padding-top: 35px;
}


@media screen and (max-width: 900px) {
    .elections_group {
      display: block;
    }
}