.modal_container {
    background-color: var(--pink_light);
    /* marrgin */
    /* right: 40%; */
    transform: translateX(-30%);
    width: 80vw;
    /* width: 1056px; */
    padding: 0 70px;
    
}

.button_container {
    display: flex;
    justify-content: flex-start;
}