.create_election_card {
    width: fit-content;
    height: 50px;
    background-color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .create_election_card {
        width: 100%;

    }
}