.card {
    border: 1px solid rgba(255, 85, 89,.4);
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;

}

.card_icon {
    background-color: var(--primary_color);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 25px;
    color: var(--white);
}

.card_text {
    padding: 2px 5px;
    height: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_title {
    /* font-size: 16px; */
    margin: 0;

}

.card_paragraph {
    font-size: 25px;
    margin: 0;
    font-weight: var(--bold_weight);
}




@media screen and (max-width: 900px) {
    .card {
    width: 100%;
        margin: 30px 0;
    }
}