.election_card {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 108px;
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;

}

.election_card__details {
    width: 80%;
}
.election_card__image {
    margin-right: 28px;
}

.election_card__name {
    margin: 0 0 10px 0;
}

.election_card__date > p {
    margin: 8px 0;
}

.election_status {
    background-color: red;
    position: relative;
    bottom:30%;
    height: 17px;
    width: 17px;
    border-radius: 17px;
}