@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary_color: #3d4147;
  --secondary_color: #ff5559;
  --tertiary_color: #ffc700;
  --pink_light: #fffbec;
  --white: #ffffff;
  --grey: #7d7f81;
  --grey_shadow: #f4f2eb;
  --sky_blue: #00e1ff;

  --font: 'Inter', sans-serif;

  --first_title_size: 30px;
  --second_title_size: 22px;
  --menu_size: 20px;
  --paragraph_size: 16px;

  --medium_weight: 500;
  --bold_weight: bold;
  
  --radius: 5px;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: red; */
  background-image: linear-gradient(var(--pink_light), var(--white));
  font-family: var(--font);
  color: var(--primary_color);
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--primary_color);
  font-size: var(--first_title_size);
}

h2 {
  color: var(--primary_color);
  font-size: var(--second_title_size);
  font-weight: var(--medium_weight);
}

.group_label {
  font-size: paragraph_size;
  color: var(--grey);
  font-weight: bold;
}

.icon {
  color: var(--primary_color);
  width: 25px;
  height: 25px;
}

input {
  font-size: var(--paragraph_size);
  font-weight: var(--medium_weight);
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--grey);
}

.button_primary {
  border: none;
  padding: 18px 39px;
  font-size: var(--paragraph_size);
  color: var(--white);
  font-weight: var(--bold_weight);
  border-radius: var(--radius);
  background-color: var(--primary_color);
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.square {
  width: 45px;
  height: 45px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.shadow {
  box-shadow: 0px 0px 20px 6px rgba(255, 85, 89, 0.1);
}

.primary_color {
  background-color: var(--primary_color);
}

.secondary_color {
  background-color: var(--secondary_color);
}

.tertiary_color {
  background-color: var(--tertiary_color);
}

.link {
  color: var(--primary_color);
  text-decoration: none;
}

.left_section_link {
  color: var(--pink_light);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 14px 30px;
}

.left_section_link--active {
  background-color: var(--pink_light);
  border-radius: 40px;
  color: var(--primary_color);
}

.left_section_link_icon {
  color: var(--pink_light);
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.left_section_link_icon--active {
  color: var(--primary_color);
}
.active {
  font-weight: var(--bold_weight);
}
