.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 5% 8% 20% 20% 20% 22%);
    gap: 1%;
    margin: 10px 0;
    padding: auto 0;
}

.row > div {
    margin: auto 0;
}

.row img {
    border-radius: 5px;
    width:65px;
    height:65px
}

